@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner1_178462482 {
	background-color: #f5f5f5;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 780px;
	overflow: hidden;
	position: relative;
	width: 1280px;
	z-index: 1;
}

#banner1_178462482 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner1_178462482 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner1_178462482 {
	top: 92px;
	left: 937px;
	z-index: 1;
}

#img_1_banner1_178462482 {
	width: 324px;
	height: 487px;
}

#img_1_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_2_banner1_178462482 {
	top: 104px;
	left: 201px;
	z-index: 2;
}

#img_2_banner1_178462482 {
	width: 54px;
	height: 40px;
}

#img_2_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_3_banner1_178462482 {
	top: 94px;
	left: 13px;
	z-index: 3;
}

#img_3_banner1_178462482 {
	width: 240px;
	height: 393px;
}

#img_3_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_4_banner1_178462482 {
	top: 232px;
	left: 66px;
	z-index: 4;
}

#img_4_banner1_178462482 {
	width: 101px;
	height: 28px;
}

#img_4_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_5_banner1_178462482 {
	top: 297px;
	left: 26px;
	z-index: 5;
}

#img_5_banner1_178462482 {
	width: 178px;
	height: 28px;
}

#img_5_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_6_banner1_178462482 {
	top: 383px;
	left: 26px;
	z-index: 6;
}

#img_6_banner1_178462482 {
	width: 85px;
	height: 28px;
}

#img_6_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_7_banner1_178462482 {
	top: 203px;
	left: 50px;
	z-index: 7;
}

#img_7_banner1_178462482 {
	width: 136px;
	height: 20px;
}

#img_7_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_8_banner1_178462482 {
	top: 334px;
	left: 71px;
	z-index: 8;
}

#img_8_banner1_178462482 {
	width: 108px;
	height: 20px;
}

#img_8_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_9_banner1_178462482 {
	top: 412px;
	left: 70px;
	z-index: 9;
}

#img_9_banner1_178462482 {
	width: 43px;
	height: 20px;
}

#img_9_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_10_banner1_178462482 {
	top: 111px;
	left: 71px;
	z-index: 10;
}

#img_10_banner1_178462482 {
	width: 80px;
	height: 80px;
}

#img_10_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_11_banner1_178462482 {
	top: 324px;
	left: 25px;
	z-index: 11;
}

#img_11_banner1_178462482 {
	width: 38px;
	height: 38px;
}

#img_11_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_12_banner1_178462482 {
	top: 0px;
	left: 0px;
	z-index: 12;
}

#img_12_banner1_178462482 {
	width: 1280px;
	height: 70px;
}

#img_12_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_13_banner1_178462482 {
	top: 15px;
	left: 39px;
	z-index: 13;
}

#img_13_banner1_178462482 {
	width: 121px;
	height: 34px;
}

#img_13_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_14_banner1_178462482 {
	top: 16.792452812194824px;
	left: 1228px;
	z-index: 14;
}

#img_14_banner1_178462482 {
	width: 22px;
	height: 27px;
}

#img_14_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_15_banner1_178462482 {
	top: 404px;
	left: 26px;
	z-index: 15;
}

#img_15_banner1_178462482 {
	width: 32px;
	height: 34px;
}

#img_15_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_16_banner1_178462482 {
	top: 273px;
	left: 15px;
	z-index: 16;
}

#img_16_banner1_178462482 {
	width: 191px;
	height: 3px;
}

#img_16_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_17_banner1_178462482 {
	top: 118px;
	left: 238.14285707473755px;
	z-index: 17;
}

#img_17_banner1_178462482 {
	width: 8px;
	height: 13px;
}

#img_17_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_18_banner1_178462482 {
	top: 114px;
	left: 211px;
	z-index: 18;
}

#img_18_banner1_178462482 {
	width: 20px;
	height: 20px;
}

#img_18_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_19_banner1_178462482 {
	top: 19px;
	left: 411px;
	z-index: 19;
}

#img_19_banner1_178462482 {
	width: 102px;
	height: 22px;
}

#img_19_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_20_banner1_178462482 {
	top: 19px;
	left: 284px;
	z-index: 20;
}

#img_20_banner1_178462482 {
	width: 57px;
	height: 22px;
}

#img_20_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_21_banner1_178462482 {
	top: 19px;
	left: 575.5px;
	z-index: 21;
}

#img_21_banner1_178462482 {
	width: 102px;
	height: 22px;
}

#img_21_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_22_banner1_178462482 {
	top: 107px;
	left: 957px;
	z-index: 22;
}

#img_22_banner1_178462482 {
	width: 94px;
	height: 20px;
}

#img_22_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_23_banner1_178462482 {
	top: 211px;
	left: 995px;
	z-index: 23;
}

#img_23_banner1_178462482 {
	width: 93px;
	height: 16px;
}

#img_23_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_24_banner1_178462482 {
	top: 210px;
	left: 1184px;
	z-index: 24;
}

#img_24_banner1_178462482 {
	width: 44px;
	height: 16px;
}

#img_24_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_25_banner1_178462482 {
	top: 264px;
	left: 1184px;
	z-index: 25;
}

#img_25_banner1_178462482 {
	width: 44px;
	height: 16px;
}

#img_25_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_26_banner1_178462482 {
	top: 320px;
	left: 1184px;
	z-index: 26;
}

#img_26_banner1_178462482 {
	width: 43px;
	height: 16px;
}

#img_26_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_27_banner1_178462482 {
	top: 374px;
	left: 1184px;
	z-index: 27;
}

#img_27_banner1_178462482 {
	width: 43px;
	height: 16px;
}

#img_27_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_28_banner1_178462482 {
	top: 434px;
	left: 1184px;
	z-index: 28;
}

#img_28_banner1_178462482 {
	width: 43px;
	height: 16px;
}

#img_28_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_29_banner1_178462482 {
	top: 208px;
	left: 956px;
	z-index: 29;
}

#img_29_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_29_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_30_banner1_178462482 {
	top: 246px;
	left: 941px;
	z-index: 30;
}

#img_30_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_30_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_31_banner1_178462482 {
	top: 266px;
	left: 995px;
	z-index: 31;
}

#img_31_banner1_178462482 {
	width: 143px;
	height: 32px;
}

#img_31_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_32_banner1_178462482 {
	top: 263px;
	left: 956px;
	z-index: 32;
}

#img_32_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_32_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_33_banner1_178462482 {
	top: 317px;
	left: 956px;
	z-index: 33;
}

#img_33_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_33_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_34_banner1_178462482 {
	top: 356px;
	left: 941px;
	z-index: 34;
}

#img_34_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_34_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_35_banner1_178462482 {
	top: 300px;
	left: 941px;
	z-index: 35;
}

#img_35_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_35_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_36_banner1_178462482 {
	top: 435px;
	left: 995px;
	z-index: 36;
}

#img_36_banner1_178462482 {
	width: 164px;
	height: 16px;
}

#img_36_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_37_banner1_178462482 {
	top: 430px;
	left: 956px;
	z-index: 37;
}

#img_37_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_37_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_38_banner1_178462482 {
	top: 412px;
	left: 941px;
	z-index: 38;
}

#img_38_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_38_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_39_banner1_178462482 {
	top: 371px;
	left: 956px;
	z-index: 39;
}

#img_39_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_39_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_40_banner1_178462482 {
	top: 139px;
	left: 942px;
	z-index: 40;
}

#img_40_banner1_178462482 {
	width: 315px;
	height: 2px;
}

#img_40_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_41_banner1_178462482 {
	top: 92px;
	left: 269px;
	z-index: 41;
}

#img_41_banner1_178462482 {
	width: 320px;
	height: 487px;
}

#img_41_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_42_banner1_178462482 {
	top: 103px;
	left: 418px;
	z-index: 42;
}

#img_42_banner1_178462482 {
	width: 159px;
	height: 30px;
}

#img_42_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_43_banner1_178462482 {
	top: 223px;
	left: 299px;
	z-index: 43;
}

#img_43_banner1_178462482 {
	width: 3px;
	height: 281px;
}

#img_43_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_44_banner1_178462482 {
	top: 211px;
	left: 294px;
	z-index: 44;
}

#img_44_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_44_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_45_banner1_178462482 {
	top: 274px;
	left: 294px;
	z-index: 45;
}

#img_45_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_45_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_46_banner1_178462482 {
	top: 372px;
	left: 294px;
	z-index: 46;
}

#img_46_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_46_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_47_banner1_178462482 {
	top: 498px;
	left: 294px;
	z-index: 47;
}

#img_47_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_47_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_48_banner1_178462482 {
	top: 228px;
	left: 334px;
	z-index: 48;
}

#img_48_banner1_178462482 {
	width: 131px;
	height: 20px;
}

#img_48_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_49_banner1_178462482 {
	top: 452px;
	left: 337px;
	z-index: 49;
}

#img_49_banner1_178462482 {
	width: 131px;
	height: 20px;
}

#img_49_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_50_banner1_178462482 {
	top: 207px;
	left: 375px;
	z-index: 50;
}

#img_50_banner1_178462482 {
	width: 108px;
	height: 20px;
}

#img_50_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_51_banner1_178462482 {
	top: 210px;
	left: 316px;
	z-index: 51;
}

#img_51_banner1_178462482 {
	width: 59px;
	height: 15px;
}

#img_51_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_52_banner1_178462482 {
	top: 291px;
	left: 337px;
	z-index: 52;
}

#img_52_banner1_178462482 {
	width: 178px;
	height: 60px;
}

#img_52_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_53_banner1_178462482 {
	top: 514px;
	left: 337px;
	z-index: 53;
}

#img_53_banner1_178462482 {
	width: 178px;
	height: 60px;
}

#img_53_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_54_banner1_178462482 {
	top: 389px;
	left: 336px;
	z-index: 54;
}

#img_54_banner1_178462482 {
	width: 136px;
	height: 20px;
}

#img_54_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_55_banner1_178462482 {
	top: 270px;
	left: 375px;
	z-index: 55;
}

#img_55_banner1_178462482 {
	width: 98px;
	height: 20px;
}

#img_55_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_56_banner1_178462482 {
	top: 273px;
	left: 316px;
	z-index: 56;
}

#img_56_banner1_178462482 {
	width: 60px;
	height: 15px;
}

#img_56_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_57_banner1_178462482 {
	top: 368px;
	left: 376px;
	z-index: 57;
}

#img_57_banner1_178462482 {
	width: 78px;
	height: 20px;
}

#img_57_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_58_banner1_178462482 {
	top: 370px;
	left: 316px;
	z-index: 58;
}

#img_58_banner1_178462482 {
	width: 57px;
	height: 15px;
}

#img_58_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_59_banner1_178462482 {
	top: 494px;
	left: 370px;
	z-index: 59;
}

#img_59_banner1_178462482 {
	width: 82px;
	height: 20px;
}

#img_59_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_60_banner1_178462482 {
	top: 496px;
	left: 316px;
	z-index: 60;
}

#img_60_banner1_178462482 {
	width: 53px;
	height: 15px;
}

#img_60_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_61_banner1_178462482 {
	top: 431px;
	left: 375px;
	z-index: 61;
}

#img_61_banner1_178462482 {
	width: 91px;
	height: 20px;
}

#img_61_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_62_banner1_178462482 {
	top: 433px;
	left: 316px;
	z-index: 62;
}

#img_62_banner1_178462482 {
	width: 52px;
	height: 15px;
}

#img_62_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_63_banner1_178462482 {
	top: 214.9444444179535px;
	left: 297px;
	z-index: 63;
}

#img_63_banner1_178462482 {
	width: 7px;
	height: 6px;
}

#img_63_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_64_banner1_178462482 {
	top: 244px;
	left: 296px;
	z-index: 64;
}

#img_64_banner1_178462482 {
	width: 9px;
	height: 9px;
}

#img_64_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_65_banner1_178462482 {
	top: 434px;
	left: 294px;
	z-index: 65;
}

#img_65_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_65_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_66_banner1_178462482 {
	top: 292.9932460784912px;
	left: 314.9933009147644px;
	z-index: 66;
}

#img_66_banner1_178462482 {
	width: 16px;
	height: 16px;
}

#img_66_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_67_banner1_178462482 {
	top: 314px;
	left: 315px;
	z-index: 67;
}

#img_67_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_67_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_68_banner1_178462482 {
	top: 392px;
	left: 316px;
	z-index: 68;
}

#img_68_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_68_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_69_banner1_178462482 {
	top: 231px;
	left: 316px;
	z-index: 69;
}

#img_69_banner1_178462482 {
	width: 13px;
	height: 13px;
}

#img_69_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_70_banner1_178462482 {
	top: 452.9932460784912px;
	left: 315.9933009147644px;
	z-index: 70;
}

#img_70_banner1_178462482 {
	width: 16px;
	height: 16px;
}

#img_70_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_71_banner1_178462482 {
	top: 514.9932460784912px;
	left: 314.9933009147644px;
	z-index: 71;
}

#img_71_banner1_178462482 {
	width: 16px;
	height: 16px;
}

#img_71_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_72_banner1_178462482 {
	top: 536.849277973175px;
	left: 317.00476455688477px;
	z-index: 72;
}

#img_72_banner1_178462482 {
	width: 11px;
	height: 16px;
}

#img_72_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_73_banner1_178462482 {
	top: 157px;
	left: 289px;
	z-index: 73;
}

#img_73_banner1_178462482 {
	width: 185px;
	height: 32px;
}

#img_73_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_74_banner1_178462482 {
	top: 164px;
	left: 317px;
	z-index: 74;
}

#img_74_banner1_178462482 {
	width: 24px;
	height: 16px;
}

#img_74_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_75_banner1_178462482 {
	top: 164px;
	left: 373px;
	z-index: 75;
}

#img_75_banner1_178462482 {
	width: 63px;
	height: 16px;
}

#img_75_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_76_banner1_178462482 {
	top: 159px;
	left: 361px;
	z-index: 76;
}

#img_76_banner1_178462482 {
	width: 3px;
	height: 28px;
}

#img_76_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_77_banner1_178462482 {
	top: 107px;
	left: 289px;
	z-index: 77;
}

#img_77_banner1_178462482 {
	width: 101px;
	height: 20px;
}

#img_77_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_78_banner1_178462482 {
	top: 139px;
	left: 274px;
	z-index: 78;
}

#img_78_banner1_178462482 {
	width: 312px;
	height: 2px;
}

#img_78_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_79_banner1_178462482 {
	top: 92px;
	left: 603px;
	z-index: 79;
}

#img_79_banner1_178462482 {
	width: 320px;
	height: 487px;
}

#img_79_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_80_banner1_178462482 {
	top: 748px;
	left: 0px;
	z-index: 80;
}

#img_80_banner1_178462482 {
	width: 1280px;
	height: 32px;
}

#img_80_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_81_banner1_178462482 {
	top: 757px;
	left: 16px;
	z-index: 81;
}

#img_81_banner1_178462482 {
	width: 269px;
	height: 15px;
}

#img_81_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_82_banner1_178462482 {
	top: 757px;
	left: 1109.5px;
	z-index: 82;
}

#img_82_banner1_178462482 {
	width: 59px;
	height: 15px;
}

#img_82_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_83_banner1_178462482 {
	top: 757px;
	left: 1179px;
	z-index: 83;
}

#img_83_banner1_178462482 {
	width: 27px;
	height: 15px;
}

#img_83_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_84_banner1_178462482 {
	top: 757px;
	left: 1222px;
	z-index: 84;
}

#img_84_banner1_178462482 {
	width: 51px;
	height: 15px;
}

#img_84_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_85_banner1_178462482 {
	top: 107px;
	left: 622.5px;
	z-index: 85;
}

#img_85_banner1_178462482 {
	width: 78px;
	height: 20px;
}

#img_85_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_86_banner1_178462482 {
	top: 139px;
	left: 608px;
	z-index: 86;
}

#img_86_banner1_178462482 {
	width: 312px;
	height: 2px;
}

#img_86_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_87_banner1_178462482 {
	top: 149px;
	left: 950px;
	z-index: 87;
}

#img_87_banner1_178462482 {
	width: 138px;
	height: 32px;
}

#img_87_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_88_banner1_178462482 {
	top: 149px;
	left: 1128px;
	z-index: 88;
}

#img_88_banner1_178462482 {
	width: 113px;
	height: 32px;
}

#img_88_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_89_banner1_178462482 {
	top: 156px;
	left: 967px;
	z-index: 89;
}

#img_89_banner1_178462482 {
	width: 42px;
	height: 16px;
}

#img_89_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_90_banner1_178462482 {
	top: 156px;
	left: 1028.5px;
	z-index: 90;
}

#img_90_banner1_178462482 {
	width: 61px;
	height: 16px;
}

#img_90_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_91_banner1_178462482 {
	top: 151px;
	left: 1017px;
	z-index: 91;
}

#img_91_banner1_178462482 {
	width: 3px;
	height: 28px;
}

#img_91_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_92_banner1_178462482 {
	top: 156px;
	left: 1143px;
	z-index: 92;
}

#img_92_banner1_178462482 {
	width: 74px;
	height: 16px;
}

#img_92_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_93_banner1_178462482 {
	top: 157.99999380111694px;
	left: 1215.999993801117px;
	z-index: 93;
}

#img_93_banner1_178462482 {
	width: 12px;
	height: 12px;
}

#img_93_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_94_banner1_178462482 {
	top: 321px;
	left: 995px;
	z-index: 94;
}

#img_94_banner1_178462482 {
	width: 93px;
	height: 16px;
}

#img_94_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_95_banner1_178462482 {
	top: 376px;
	left: 995px;
	z-index: 95;
}

#img_95_banner1_178462482 {
	width: 143px;
	height: 32px;
}

#img_95_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_96_banner1_178462482 {
	top: 487px;
	left: 995px;
	z-index: 96;
}

#img_96_banner1_178462482 {
	width: 93px;
	height: 16px;
}

#img_96_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_97_banner1_178462482 {
	top: 486px;
	left: 1184px;
	z-index: 97;
}

#img_97_banner1_178462482 {
	width: 41px;
	height: 16px;
}

#img_97_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_98_banner1_178462482 {
	top: 537px;
	left: 1184px;
	z-index: 98;
}

#img_98_banner1_178462482 {
	width: 41px;
	height: 16px;
}

#img_98_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_99_banner1_178462482 {
	top: 484px;
	left: 956px;
	z-index: 99;
}

#img_99_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_99_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_100_banner1_178462482 {
	top: 519px;
	left: 941px;
	z-index: 100;
}

#img_100_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_100_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_101_banner1_178462482 {
	top: 470px;
	left: 941px;
	z-index: 101;
}

#img_101_banner1_178462482 {
	width: 316px;
	height: 2px;
}

#img_101_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_102_banner1_178462482 {
	top: 539px;
	left: 995px;
	z-index: 102;
}

#img_102_banner1_178462482 {
	width: 143px;
	height: 32px;
}

#img_102_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_103_banner1_178462482 {
	top: 536px;
	left: 956px;
	z-index: 103;
}

#img_103_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_103_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_104_banner1_178462482 {
	top: 213px;
	left: 1242px;
	z-index: 104;
}

#img_104_banner1_178462482 {
	width: 8px;
	height: 171px;
}

#img_104_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_105_banner1_178462482 {
	top: 13px;
	left: 757px;
	z-index: 105;
}

#img_105_banner1_178462482 {
	width: 361px;
	height: 38px;
}

#img_105_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_106_banner1_178462482 {
	top: 19px;
	left: 794px;
	z-index: 106;
}

#img_106_banner1_178462482 {
	width: 314px;
	height: 26px;
}

#img_106_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_107_banner1_178462482 {
	top: 23px;
	left: 767px;
	z-index: 107;
}

#img_107_banner1_178462482 {
	width: 18px;
	height: 18px;
}

#img_107_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 200ms 4800ms ease 1 both;
	animation: fade-in 200ms 4800ms ease 1 both;
}

#b_108_banner1_178462482 {
	top: 19px;
	left: 1241px;
	z-index: 108;
}

#img_108_banner1_178462482 {
	width: 9px;
	height: 9px;
}

#img_108_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 4500ms ease 1 both;
	animation: fade-in 500ms 4500ms ease 1 both;
}

#b_109_banner1_178462482 {
	top: 18px;
	left: 1185px;
	z-index: 109;
}

#img_109_banner1_178462482 {
	width: 24px;
	height: 24px;
}

#img_109_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 4200ms ease 1 both;
	animation: fade-in 500ms 4200ms ease 1 both;
}

#b_110_banner1_178462482 {
	top: 401px;
	left: 660px;
	z-index: 110;
}

#img_110_banner1_178462482 {
	width: 52px;
	height: 16px;
}

#img_110_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 3900ms ease 1 both;
	animation: fade-in 500ms 3900ms ease 1 both;
}

#b_111_banner1_178462482 {
	top: 428px;
	left: 800px;
	z-index: 111;
}

#img_111_banner1_178462482 {
	width: 53px;
	height: 16px;
}

#img_111_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 3600ms ease 1 both;
	animation: fade-in 500ms 3600ms ease 1 both;
}

#b_112_banner1_178462482 {
	top: 401px;
	left: 814px;
	z-index: 112;
}

#img_112_banner1_178462482 {
	width: 28px;
	height: 16px;
}

#img_112_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 3300ms ease 1 both;
	animation: fade-in 500ms 3300ms ease 1 both;
}

#b_113_banner1_178462482 {
	top: 356.8571434020996px;
	left: 659px;
	z-index: 113;
}

#img_113_banner1_178462482 {
	width: 44px;
	height: 38px;
}

#img_113_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 3000ms ease 1 both;
	animation: fade-in 500ms 3000ms ease 1 both;
}

#b_114_banner1_178462482 {
	top: 253px;
	left: 800px;
	z-index: 114;
}

#img_114_banner1_178462482 {
	width: 76px;
	height: 16px;
}

#img_114_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 2700ms ease 1 both;
	animation: fade-in 500ms 2700ms ease 1 both;
}

#b_115_banner1_178462482 {
	top: 61px;
	left: 271px;
	z-index: 115;
}

#img_115_banner1_178462482 {
	width: 75px;
	height: 3px;
}

#img_115_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 2400ms ease 1 both;
	animation: fade-in 500ms 2400ms ease 1 both;
}

#b_116_banner1_178462482 {
	top: 218.75281429290771px;
	left: 808.9717273712158px;
	z-index: 116;
}

#img_116_banner1_178462482 {
	width: 44px;
	height: 25px;
}

#img_116_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 2100ms ease 1 both;
	animation: fade-in 500ms 2100ms ease 1 both;
}

#b_117_banner1_178462482 {
	top: 255px;
	left: 651px;
	z-index: 117;
}

#img_117_banner1_178462482 {
	width: 75px;
	height: 16px;
}

#img_117_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 1800ms ease 1 both;
	animation: fade-in 500ms 1800ms ease 1 both;
}

#b_118_banner1_178462482 {
	top: 276px;
	left: 654px;
	z-index: 118;
}

#img_118_banner1_178462482 {
	width: 57px;
	height: 36px;
}

#img_118_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 1500ms ease 1 both;
	animation: fade-in 500ms 1500ms ease 1 both;
}

#b_119_banner1_178462482 {
	top: 276px;
	left: 779px;
	z-index: 119;
}

#img_119_banner1_178462482 {
	width: 104px;
	height: 36px;
}

#img_119_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 1200ms ease 1 both;
	animation: fade-in 500ms 1200ms ease 1 both;
}

#b_120_banner1_178462482 {
	top: 426px;
	left: 657px;
	z-index: 120;
}

#img_120_banner1_178462482 {
	width: 54px;
	height: 36px;
}

#img_120_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 900ms ease 1 both;
	animation: fade-in 500ms 900ms ease 1 both;
}

#b_121_banner1_178462482 {
	top: 207.98621559143066px;
	left: 670.5352516174316px;
	z-index: 121;
}

#img_121_banner1_178462482 {
	width: 24px;
	height: 38px;
}

#img_121_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 600ms ease 1 both;
	animation: fade-in 500ms 600ms ease 1 both;
}

#b_122_banner1_178462482 {
	top: 356.98621559143066px;
	left: 811.7672710418701px;
	z-index: 122;
}

#img_122_banner1_178462482 {
	width: 29px;
	height: 38px;
}

#img_122_banner1_178462482.bnfy-enter {
	-webkit-animation: fade-in 500ms 300ms ease 1 both;
	animation: fade-in 500ms 300ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
